<!--Roland Joseph Baja-->
<!--Student ID:301252375-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--css SECTION-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

  <link rel='stylesheet' href='/Content/app.css' />

  <style>

    div {text-align: center;}
    p {text-align: center;}
    h3,h4,h1,h2 {text-align: center;}
    li {font-style: "font-family:verdana"}
    body {

background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
    
    
    </style>
</head>
<body background="\Assets\images\background.jpg">
  <!--Main nav-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Comp229</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/home"><i class="fa-solid fa-house-chimney-user"></i>Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i>About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/Assets/Products/Products.html"><i class="fa-sharp fa-solid fa-boxes-stacked"></i>Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/services"><i class="fa-regular fa-handshake"></i>Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/Assets/Contact/Contact.html"><i class="fa-solid fa-mobile-screen-button"></i>Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project"><i class="fa-solid fa-mobile-screen-button"></i>project</a>
        </li>
       
    </div>
  </nav>






   <h1>Welcome to: About Me Page</h1><br>
   
      <!--Script Section -->
      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.jss"></script>
</body>













<head>
<style>

div {text-align: center;}
p {text-align: center;}
h3,h4,h1 {text-align: center;}
li {font-style: "font-family:verdana"}



</style>
<div class="banner">
  <div>
  
<hr>
<title>
About Me Page
</title>

<h1 style="font-family:verdana">About Me</h1>
<img src="\Assets\images\profile pic.jpg" align="center" height="40%" width="20%">
<h2>Name: Roland Joseph Baja <br>Student ID:301252375</h2>

</div>
<meta charset ="utf-8">
</head>
<style>
body {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<body background="\Assets\images\background.jpg">
   
<ul style="padding: 0;  list-style-position: inside; text-align: center"; display: inline-block;>
    
<h2><a href="\Assets\images\Resume.pdf">My Resume</a></h2><br><br><br>


<h4 style="font-family:verdana">My Favourite Activities are listed below.</h4>
<li ><a href="https://www.youtube.com/watch?v=Mgdl2KyaKfw&t=74s">Building Computers</a></li>
<li ><a href="https://www.youtube.com/watch?v=syyLJ1HsWaU">Dancing</a></li>
<li ><a href="https://www.youtube.com/watch?v=8h1d-AAdC4w">Playing Guitar</a></li>
<li ><a href="https://www.youtube.com/watch?v=ymbihdy6KUg&t=153s">Hanging Out With Friends</a></li>
<li ><a href="https://www.youtube.com/watch?v=gmtZS0brRH4">Playing Games</a></li>
<li ><a href="https://www.youtube.com/watch?v=sY2djp46FeY&t=4s">Watching TV and Movies</a></li>

</ul>
<h4><i style="font-family:verdana"><small>If you have access to YouTube, you can click the links<br>All videos are 10 years ago except for advertisement</small></i></h4>
<hr>
<footer>
  <p  style="font-family:verdana" ><small>Copyright&#169 <br>by Roland Joseph Baja&#153<br>Student ID:301252375<br><a href="mailto:rbaja1@my.centennialcollege.ca">rbaja1@my.centennialcollege.ca</a></small></p>
  </footer>

</body>
</html>