<!--Roland Joseph Baja-->
<!--Student ID:301252375-->



<!DOCTYPE html">
<html lang ="en">
<head>
<style>

div {text-align: center;}
p {text-align: center;}
h3,h4,h1 {text-align: center;}
li {font-style: "font-family:verdana"}



</style>
<div class="banner">
  <div>
    <h1><img src="\Assets\images\banner.jfif" align="center" height="40%" width="100%"></h1></div>
<hr>
<title>
About Me Page
</title>

<h1 style="font-family:verdana">About Me</h1>
<img src="\Assets\images\profile pic.jpg" align="center" height="40%" width="20%">
<h2>Name: Roland Joseph Baja <br>Student ID:301252375</h2>
<h2>Mission statement:</h2> <h3>Finish my Study of Software Engineering then upgrade my advanced diploma for a Degree.<br> After that, Apply for a job connected to my course then after getting experience. <br>After that, I will either improved stay and rise above rank or look for a new career that will allow me to improve.</h3>

</div>
<meta charset ="utf-8">
</head>
<style>
body {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<body background="\Assets\images\background.jpg">
   
<ul style="padding: 0;  list-style-position: inside; text-align: center"; display: inline-block;>
    <b><h2 style="font-family:verdana">My Favourite Activities are listed below.</h2><b> 
<li ><a href="\Assets\images\Resume.pdf">My Resume</a></li>
<li ><a href="https://www.youtube.com/watch?v=Mgdl2KyaKfw&t=74s">Building Computers</a></li>
<li ><a href="https://www.youtube.com/watch?v=syyLJ1HsWaU">Dancing</a></li>
<li ><a href="https://www.youtube.com/watch?v=8h1d-AAdC4w">Playing Guitar</a></li>
<li ><a href="https://www.youtube.com/watch?v=ymbihdy6KUg&t=153s">Hanging Out With Friends</a></li>
<li ><a href="https://www.youtube.com/watch?v=gmtZS0brRH4">Playing Games</a></li>
<li ><a href="https://www.youtube.com/watch?v=sY2djp46FeY&t=4s">Watching TV and Movies</a></li>

</ul>

<h1> <a class="nav-link" href="/home"><i class="fa-solid fa-house-chimney-user"></i>Return to Home Page</a></h1>
<h4><i style="font-family:verdana"><small>If you have access to YouTube, you can click the links<br>All videos are 10 years ago except for advertisement</small></i></h4>
<hr>
<footer>
  <p  style="font-family:verdana" ><small>Copyright&#169 <br>by Roland Joseph Baja&#153<br>Student ID:301252375<br><a href="mailto:rbaja1@my.centennialcollege.ca">rbaja1@my.centennialcollege.ca</a></small></p>
  </footer>

</body>
</html>