<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--css SECTION-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

  <link rel='stylesheet' href='/Content/app.css' />
</head>
<body>
  <!--Main nav-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Comp229</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/home"><i class="fa-solid fa-house-chimney-user"></i>Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i>About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/products"><i class="fa-sharp fa-solid fa-boxes-stacked"></i>Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/services"><i class="fa-regular fa-handshake"></i>Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact"><i class="fa-solid fa-mobile-screen-button"></i>Contact</a>
        </li>
    </div>
  </nav>






   <h1>Welcome to: <%= title %> page </h1>

      <!--Script Section -->
      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.jss"></script>
</body>
</html>









