<!--Roland Joseph Baja-->
<!--Student ID:301252375-->



<!DOCTYPE html">
<html lang ="en">
<head>
<style>

div {text-align: center;}
p {text-align: center;}
h3,h4,h1 {text-align: center;}
li {font-style: "font-family:verdana"}



</style>
<div class="banner">
  <div>
 
<hr>
<title>
Project Page
</title>

<h1 style="font-family:verdana">Project Page</h1>


</div>
<meta charset ="utf-8">
</head>
<style>
body {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<body background="\Assets\images\background.jpg">
   
<ul style="padding: 0;  list-style-position: inside; text-align: center"; display: inline-block;>
    <b><h2 style="font-family:verdana">The List below are my Projects.</h2><b> 
<li ><a href="\Assets\Roland Baja_COMP213_Project/Home Page.html">My HTML Project Sample for realtor<br>
    <img src="\Assets\Roland Baja_COMP213_Project/list1.jpg" align="center" height="40%" width="20%">
</a></li>


</ul>

<h1> <a class="nav-link" href="/home"><i class="fa-solid fa-house-chimney-user"></i>Return to Home Page</a></h1>
<h4><i style="font-family:verdana"><small>If you have access to YouTube, you can click the links<br>All videos are 10 years ago except for advertisement</small></i></h4>
<hr>
<footer>
  <p  style="font-family:verdana" ><small>Copyright&#169 <br>by Roland Joseph Baja&#153<br>Student ID:301252375<br><a href="mailto:rbaja1@my.centennialcollege.ca">rbaja1@my.centennialcollege.ca</a></small></p>
  </footer>

</body>
</html>