<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--css SECTION-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

  <link rel='stylesheet' href='/Content/app.css' />

  <style>

    div {text-align: center;}
    p {text-align: center;}
    h3,h4,h1,h2 {text-align: center;}
    li {font-style: "font-family:verdana"}
    body {

background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
    
    
    </style>
</head>
<body background="\Assets\images\background.jpg">
  <!--Main nav-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Comp229</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
          <a class="nav-link" href="/home"><i class="fa-solid fa-house-chimney-user"></i>Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i>About Me</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/Assets/Products/Products.html"><i class="fa-sharp fa-solid fa-boxes-stacked"></i>Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/services"><i class="fa-regular fa-handshake"></i>Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/Assets/Contact/Contact.html"><i class="fa-solid fa-mobile-screen-button"></i>Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project"><i class="fa-solid fa-mobile-screen-button"></i>project</a>
        </li>
       
    </div>
  </nav>






   <h1>Welcome to: Services </h1><br>
   <h2><i>Services Offered:</h2></h3>
   </i><br>

   <ul style="padding: 0;  list-style-position: inside; text-align: center"; display: inline-block;>
  
<li ><a href="https://www.youtube.com/watch?v=M1dTcz0AOsA&t=85s">C# Tutorial<br>
<img src="\Assets\images\S1.png" align="center" height="10%" width="10%"></a></li>
<br>
<li ><a href="https://www.youtube.com/watch?v=Mgdl2KyaKfw&t=74s">Building Computers</a></li>
<img src="\Assets\images\build.jpg" align="center" height="20%" width="20%"></a></li>

      <!--Script Section -->
      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.jss"></script>
</body>
</html>









