* {
    margin: 0;
    padding: 0;
    list-style: none;
       text-decoration: none;
}

.page {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("Pictures/background.jpg");
}

.main_container{
    width: 1000px;
    display: block;
    margin: 0 auto;
    height: 300px;
    background-color: darkblue;
    align-self:center;
    position:relative;
    overflow:hidden;

    box-shadow: 10px 5px 15px red;
    border-radius: 10px
}


.picContainer {
    height: 100%;
    
}

.picture {
    height: 100%;
    width:200px;
    float: left;
}

.previous, .next {
    height: 100%;
    width: 50px;
   
    transition: all 0.7s ease-in-out;
    position: absolute;
    left: 0;
    display: flex;
}
.next{
    right:0;
    left:auto;
}

.arrow_right{
    transform:rotate(180deg);
}
.arrow_left, .arrow_right{
    width: 100%;
    align-self:center;
}


.previous:hover, .next:hover{
    background-color:darkgoldenrod;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine{
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
}
#one {
    background-image: url("Pictures/image1.jpg");
}

#two {
    background-image: url("Pictures/image2.jpg");
}

#three {
    background-image: url("Pictures/image3.jpg");
}

#four {
    background-image: url("Pictures/image4.jpg");
}

#five {
    background-image: url("Pictures/image5.jpg");
}

#six {
    background-image: url("Pictures/image6.jpg");
}

#seven {
    background-image: url("Pictures/image7.jpg");
}

#eight {
    background-image: url("Pictures/image8.jpg");
}
#nine {
    background-image: url("Pictures/image9.jpg");
}
